<main class="a-killow-page">
  <section class="a-killow-section a-killow-bg">
    <div class="a-killow-container a-killow-reverse">
      <div class="a-killow-text">
        <div class="akillow-title-container">
          <h2>QUEM SOMOS</h2>
        </div>
        <p>
        <p>A killow MANUTENÇÕES ELÉTRICAS INDUSTRIAIS nasceu em 2018, inicialmente com o nome New Elétrica Serviços Elétricos, a partir do propósito de oferecer soluções elétricas industriais com alto padrão técnico e confiabilidade. 
          Desde então, seguimos crescendo com foco em inovação, capacitação e excelência operacional. Em 2022, assumimos o nome atual, consolidando nossa marca no mercado nacional como referência em manutenção e montagem elétrica de média e alta tensão. 
          Cada cliente atendido representa um capítulo importante da nossa trajetória — marcada por desafios superados e parcerias duradouras</p>
        </p>
      </div>
      <div class="a-killow-image">
        <img src="/images/em_campo/svr-1.jpeg" alt="Excelência Técnica">
      </div>
    </div>
  </section>
  <section class="a-killow-section">
    <div class="a-killow-container">
      <div class="a-killow-image">
        <img src="/images/em_campo/svr-2.jpeg" alt="Segurança como Prioridade">
      </div>
      <div class="a-killow-text" >
        <h2 class="akillow-title-container">O Que Nos Move</h2>
        <p>Somos movidos pela responsabilidade de manter sistemas elétricos industriais funcionando com segurança eficiência profissionalismo e continuidade. Acreditamos que confiança se constrói com entrega, e por isso buscamos sempre superar expectativas por meio de um atendimento técnico qualificado, atendimento ágil e uma conduta pautada na ética. 
          Mais do que fazer manutenção, queremos ser parte da engrenagem que impulsiona os resultados dos nossos clientes.</p>
      </div>
    </div>
  </section>

  <section class="a-killow-section a-killow-reverse">
    <div class="a-killow-container">
      <div class="a-killow-image">
        <img src="/images/em_campo/svr-3.jpeg" alt="Transparência Radical">
      </div>
      <div class="a-killow-text">
        <h2 class="akillow-title-container">Nossa Equipe</h2>
        <p>A força da KILLOW MANUTENÇÕES ELÉTRICAS INDUSTRIAIS está no talento e no comprometimento das pessoas que vestem nossa camisa todos os dias. Nossa equipe é composta por profissionais capacitados, treinados e alinhados às boas práticas do setor elétrico e de segurança — combinando experiência de campo, atualização técnica constante e paixão pelo que fazem. 
          Investimos no crescimento profissional e pessoal de cada colaborador, porque sabemos que empresas fortes são feitas por pessoas realizadas.</p>
      </div>
    </div>
  </section>

  <section class="a-killow-section">
    <div class="a-killow-container">
      <div class="a-killow-image">
        <img src="/images/em_campo/svr-4.jpeg" alt="Tecnologia e Infraestrutura">
      </div>
      <div class="a-killow-text">
        <h2 class="akillow-title-container">Tecnologia e Infraestrutura</h2>
        <p>Nossa sede operacional abriga uma oficina de 800m² totalmente equipada com laboratório dielétrico, sistema de filtragem a vácuo e frota de atendimento emergencial.</p>
      </div>
    </div>
  </section>

<section class="a-killow-section a-killow-centered-section">
    <div class="a-killow-container">
      <div class="a-killow-text">
        <h2>Por que escolher a killow?</h2>
        <p>
          Mais do que uma prestadora de serviços, somos parceiros dos nossos clientes na missão de garantir segurança, continuidade e eficiência aos sistemas elétricos industriais. 
          Na killow, cada projeto é tratado como prioridade: atuamos com agilidade, ética e atenção aos detalhes, buscando não apenas atender, mas superar expectativas. 
          Escolher a killow é escolher uma empresa que entende a importância da manutenção elétrica industrial não só como um serviço, mas como parte essencial do sucesso e da produtividade do seu negócio
        </p>
        <a href="/contact" class="a-killow-button">Solicite um Orçamento</a>
      </div>
    </div>
</section>
</main>