
  <section id="inicio" class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <h2>Soluções elétricas inteligentes para máxima produtividade.</h2>
      <p>
        Somos especialistas em manutenção e instalação elétrica, oferecendo serviços de excelência tanto para projetos industriais quanto residenciais.
        Nossa equipe altamente capacitada possui anos de experiência em manutenção e montagem elétrica industrial, garantindo soluções personalizadas que priorizam segurança, eficiência e desempenho.
        Com expertise técnica e compromisso com a qualidade, entregamos resultados que otimizam operações e reduzem custos, assegurando a máxima confiabilidade em cada projeto.
      </p>
      <a href="/contact" class="btn-home">Contate um especialista</a>
    </div>
    <div class="hero-fade"></div>

  </section>

  <!--Sobre abaixo-->

  <section id="sobre" class="sobre">
    <div class="container">
      <h2>Killow – Excelência em Manutenção Elétrica Industrial</h2>
      <p>Com 10 anos de atuação no mercado, a Killow consolida sua expertise em serviços técnicos de alta precisão, oferecendo soluções confiáveis para o setor elétrico. Especializada em filtragem e regeneração de óleo isolante, a Killow garante as propriedades dielétricas e prolonga a vida útil de transformadores. Além disso, realiza restauração completa de disjuntores em oficina própria, com tecnologia de ponta, e desenvolve programas de manutenção para subestações, atendendo desde instalações prediais até complexos industriais.</p>
      
      <p>A empresa também assegura a qualidade dos equipamentos através de testes e comissionamento, garantindo operação dentro das especificações técnicas.</p>
        
      <div class="equipe">
      <h3>Nossa equipe oferece:</h3>
      <ul>
        <li>✔ Metodologias comprovadas de manutenção</li>
        <li>✔ Diagnósticos precisos com equipamentos modernos</li>
        <li>✔ Total compliance com normas de segurança</li>
      </ul> 
  
      <h3>Comprometida com a excelência, a Killow destaca-se por:</h3>
      <ul>
        <li>✓ Soluções customizadas para cada necessidade</li>
        <li>✓ Cumprimento rigoroso de prazos</li>
        <li>✓ Transparência em todas as etapas</li>
      </ul>
      </div>
    </div>

    <div class="dados-Killow">
        <div class="dado">
          <span class="valor">+200</span>
          <span class="descricao">clientes</span>
        </div>
        <div class="dado">
          <span class="valor">+50</span>
          <span class="descricao">cidades atendidas</span>
        </div>
        <div class="dado">
          <span class="valor">+20</span>
          <span class="descricao">anos de mercado</span>
        </div>
        <div class="dado">
          <span class="valor">+800</span>
          <span class="descricao">manutenções realizadas</span>
        </div>
        <div class="dado">
          <span class="valor">+500</span>
          <span class="descricao">projetos de instalação</span>
        </div>
      </div>
      
  </section>

  <div class="sobre-clientes"></div>
  <section class="clientes">
    <div class="container">
      <h2>Alguns de nossos clientes</h2>
      <div class="carrossel-clientes">
        <div class="carrossel-track" id="carrossel-track">
          <img src="/images/acelormittal.png" alt="Cliente 1">
          <img src="/images/coteminas.png" alt="Cliente 2">
          <img src="/images/hermespardini.png" alt="Cliente 3">
          <img src="/images/samarco.png" alt="Cliente 4">
          <img src="/images/liasa.png" alt="Cliente 5">
          <img src="/images/tsea.png" alt="Cliente 6">
          <img src="/images/tupy.png" alt="Cliente 7">
          <img src="/images/nemak.png" alt="Cliente 8">
          <img src="/images/stepan.png" alt="Cliente 9">
          <img src="/images/rima.jpg" alt="Cliente 10">
        </div>
      </div>
    </div>
  </section>

      <!-- Mapa - Localização -->
  <section id="localizacao" class="localizacao">
    <div class="container">
      <h2>Onde Estamos</h2>
      <div class="mapa">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.3688888867046!2d-44.0713426!3d-19.9509829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6bfdb90d34339%3A0xf1962dfcce178511!2sR.%20Toyota%2C%20749B%20-%20Dom%20I.%20Jardim%20Piemonte%20%2F%20Norte%2C%20Betim%20-%20MG%2C%2032689-314!5e0!3m2!1spt-BR!2sbr!4v1745839351193!5m2!1spt-BR!2sbr"
          width="100%" 
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </section>

          <!-- valores/contato -->
  <section class="valores-contato">
  <div class="container-valores-contato">
    
    <div class="valores">
      <h2>Nossos Valores</h2>
      <p>
        Somos movidos pela responsabilidade. Acreditamos que a confiança se constrói com entrega, e é por isso que a excelência técnica é um pilar central da nossa atuação. Mais do que prestadores de serviços, nos posicionamos como verdadeiros parceiros de nossos clientes. Entendemos que fazemos parte da engrenagem que impulsiona seus resultados, atuando com agilidade, ética e uma atenção minuciosa aos detalhes para não apenas atender, mas superar expectativas e construir relações duradouras.
        Essa força vem do talento e do comprometimento das pessoas que vestem nossa camisa. Acreditamos que empresas fortes são feitas por pessoas realizadas, por isso valorizamos nossa equipe, investindo em capacitação constante e promovendo um ambiente que combina experiência de campo com paixão pelo ofício.
        Nosso crescimento é guiado pela inovação e por uma conduta pautada na ética e no profissionalismo. Ao escolher a Killow, você escolhe uma empresa que entende a importância da manutenção elétrica como parte essencial do sucesso e da produtividade do seu negócio, garantindo segurança, continuidade e a tranquilidade que você precisa para focar em seus resultados.
      </p>
    </div>

     <div class="formulario-contato">
        <h2>Fale Conosco</h2>
        <form id="form-contato">
          <input type="text" name="nome" id="nome" placeholder="Seu nome" required>
          <input type="email" name="email" id="email" placeholder="Seu email" required>

          <select name="assunto" id="assunto" required>
            <option value="" disabled selected>Selecione o assunto</option>
            <option value="duvida">Dúvida</option>
            <option value="orcamento">Orçamento</option>
            <option value="reclamacao">Reclamação</option>
          </select>

          <textarea name="mensagem" id="mensagem" placeholder="Sua mensagem (máx 500 caracteres)" maxlength="500" rows="5" required></textarea>
          
          <button type="submit" id="submit-mail">Enviar Mensagem</button>
          <div id="feedback-mensagem" style="margin-top: 10px;"></div>
        </form>
      </div>
    </div>

  </div>
</section>


